<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="scss/account.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="changePassword">
        <div class="container">
            <h2>Account Settings</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="btn1">
                        <button class="btn">Account Settings</button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="password">
                       <div class="p3" style="display: flex; justify-content: space-between;">
                        <div class="p1"><h3>Billing Address</h3></div>
                        <div class="btn2">
                            <button class="btn btn-sm">Edit contect information</button>
                        </div>
                       </div>
                        <form>
                            
                            <div class="form-group row">
                                <label  class="col-sm-4 col-form-label">Full Name</label>
                                <div class="col-sm-8">
                                   
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label  class="col-sm-4 col-form-label">Email Address</label>
                                <div class="col-sm-8">
                                   <p>dhananjayk7724@gmail.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label  class="col-sm-4 col-form-label">Phone</label>
                                <div class="col-sm-8">
                                    
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label  class="col-sm-4 col-form-label"> Address</label>
                                <div class="col-sm-8">

                                </div>
                            </div>
                            <hr>
                            <div class="p3" style="display: flex; justify-content: space-between;">
                                <div class="p1"><h3>Password</h3></div>
                                <div class="btn2">
                                    <button class="btn btn-sm">Change password</button>
                                </div>
                               </div>
                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>