@import "variables";
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    background-color: $background;
  .navbar-nav{
    li{
        .nav-link{
           color: $color;
           font-weight: bold;
        }
    }
  }
}